@{

    Layout = "_DoctorLayout";
}


<div class="modal fade" id="updatemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form id="updateform" enctype="multipart/form-data">

                    <input hidden id="update_id" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_name" class="form-label">PName : </label>
                                <input id="u_name" type="text" name="u_name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_email" class="form-label">Email Id : </label>
                                <input id="u_email" type="email" name="email" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_appointment_date" class="form-label">Appointment Date:</label>
                                <input id="u_appointment_date" type="date" name="u_appointment_date" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_appointment_time" class="form-label">Appointment Time: </label>
                                <input id="u_appointment_time" type="time" name="u_appointment_time" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="u_description" class="form-label">Description: </label>
                        <input id="u_description" type="text" name="u_description" class="form-control" />
                    </div>
                   @*  <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_department" class="form-label">Department : </label>
                                <input id="u_department" type="text" name="u_department" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_status" class="form-label">Status : </label>
                                <select id="u_status" type="text" name="u_status" class="form-control">
                                    <option value="Requested">Requested</option>
                                    <option value="Booked Appointment">Booked Appointment</option>
                                    <option value="Doctor Not Available">Doctor Not Available</option>
                                    <option value="Cancelled Appointment">Cancelled Appointment</option>
                                </select>
                            </div>
                        </div>
                    </div> *@

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="updateStatus()" class="btn btn-primary">Update changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card w-100 shadow-sm">
    <div class="card-body">
        <table class="table table-bordered" id="myTable" style="width:100% !important">
            <thead>
                <tr>
                    <th>Scheduled_Id</th>
                    <th>Patient_Name</th>
                    <th>Appointment Date</th>
                    <th>Appointment Time</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        get();
    });

    function get() {
        debugger;
        // Destroy the existing DataTable
        if ($.fn.DataTable.isDataTable('#myTable')) {
            $('#myTable').DataTable().destroy();
        }

        $.ajax({
            type: "GET",
            url: "/Scheduled_Appointments/ScheduledPatientList",
            success: function (data) {
                $('#myTable').DataTable({
                    data: data,
                    columns: [
                        { data: 'id' },
                        { data: 'name' },
                        {
                            data: 'appointment_date',
                            render: function (data, type, row) {
                                // Parse the date with the correct format
                                var parsedDate = moment(data, 'M/D/YYYY h:mm:ss A');

                                // Check if the parsed date is valid
                                if (parsedDate.isValid()) {
                                    // Format the valid date to display only the date part
                                    return parsedDate.format('YYYY-MM-DD');
                                } else {
                                    // Handle invalid date
                                    return 'Invalid date';
                                }
                            }
                        },

                        { data: 'appointment_time' },
                        {
                            data: null,
                            render: function (data, type, row) {
                                return `<button type="button" onclick="GetScheduledAppointments(` + row.id + `)" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updatemodal"><i class="fa-solid fa-pen-to-square"></i></button>`;
                            }
                        }
                    ]
                });
            },
            error: function (textStatus, errorThrown) {
                Success = false;
            }
        });
    }

    function GetScheduledAppointments(id){
        debugger;
        $.ajax({
            type: "GET",
            url: "/Scheduled_Appointments/GetScheduledAppointments/" + id,
            success: function (data) {
                $('#update_id').val(data.id);
                $('#u_name').val(data.name);
                $('#u_email').val(data.email);
                // var date = moment(data.appointment_date);
                // $('#u_appointment_date').val(date.format('YYYY-MM-DD'));
                var date = moment(data.appointment_date, 'M/D/YYYY h:mm:ss A');

                // Ensure that date is valid before formatting
                if (date.isValid()) {
                    $('#u_appointment_date').val(date.format('YYYY-MM-DD'));
                } else {
                    // Handle invalid date
                    console.error("Invalid date format:", data.appointment_date);
                }
                $('#u_appointment_time').val(data.appointment_time);
                $('#u_description').val(data.description);

                console.log(data);
            }
        });
    }

</script>
