@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AdminAllDataViewModel;

<div class="container">
    <div class="row">
        <div class="col-12">

            <div class="my-2">
                <h3>My Profile</h3>
                <hr>
            </div>

            <form class="file-upload" id="AdminProfile">
                <div class="row mb-2 gx-2">

                    <div class="col-xxl-12 mb-2 mb-xxl-0">
                        <div class="bg-secondary-soft px-4 py-5 rounded">
                            <div class="row g-3">
                                <h4 class="mb-3 mt-0">Contact detail</h4>

                                <input hidden id="u_Id" name="Id" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <label class="form-label">Full Name *</label>
                                            <input id="name" type="text" asp-for="User.name" class="form-control" placeholder="Enter Name..." aria-label="First name" required />
                                        </div>
                                        <span asp-validation-for="User.name" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-6">
                                        <div>
                                            <label for="inputEmail4" class="form-label">Email *</label>
                                            <input id="email" asp-for="User.email" type="email" class="form-control" placeholder="Email" aria-label="Email" required />
                                        </div>
                                        <span asp-validation-for="User.email" class="text-danger"></span>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <label class="form-label">Mobile number *</label>
                                            <input id="contact" asp-for="AdminPage.phone" type="text" class="form-control" maxlength="10" placeholder="Phone Number..." required />
                                        </div>
                                        <span asp-validation-for="AdminPage.phone" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-6">
                                        <div>
                                            <label class="form-label">Gender *</label>
                                            <select id="gender" asp-for="AdminPage.gender" type="text" class="form-control" placeholder="Select Gender..." required>
                                                <option value=" ">Select Gender...</option>
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                                <option value="Other">Other</option>

                                            </select>
                                        </div>
                                        <span asp-validation-for="AdminPage.gender" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <label class="form-label">Address *</label>
                                            <input id="address" asp-for="AdminPage.address" type="text" class="form-control" placeholder="Enter Address..." required />
                                        </div>
                                        <span asp-validation-for="AdminPage.address" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <label class="form-label">Date Of Birth *</label>
                                            <input id="DOB" asp-for="AdminPage.DateOfBirth" type="date" class="form-control" placeholder="Enter Date Of Birth..." required />
                                        </div>
                                        <span asp-validation-for="AdminPage.DateOfBirth" class="text-danger"></span>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>


                <div class="gap-3 d-md-flex justify-content-md-end text-center">
                    <button type="button" class="btn btn-primary btn-lg" onclick="UpdateAdmin()">Update profile</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/admin_profile.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}