@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{

    Layout = "_Patient_ProfileLayout";
}
@model PatientAllDataViewModel;

@* <head>
    <style>
        /* Darken the label text */
        .form-label {
            color: #333; /* Dark grey color */
        }

        /* Darken the input text */
        .form-control {
            color: #333; /* Dark grey color */
        }
    </style>
</head> *@

<div class="container-fluid">
    <div class="row">
        
        <div class="col-8 p-4">

            <div class="my-2">
                <h3>My Profile</h3>
                <hr>
            </div>

                <form class="file-upload shadow p-4" id="PatientProfile" >
                <div class="row mb-2 gx-2">

                    <div class="col-xxl-12 mb-2 mb-xxl-0">
                        <div class="bg-secondary-soft p-4 rounded">
                            <div class="row g-3">
                                    <h4 class="mb-2 mt-0">Registered Detail</h4>

                                <input hidden id="u_Id" name="Id" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <label class="form-label">Full Name *</label>
                                            <input id="name" type="text" asp-for="User.name" class="form-control" placeholder="Enter Name..." aria-label="First name" required />
                                        </div>
                                        <span asp-validation-for="User.name" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-6">
                                        <div>
                                            <label for="inputEmail4" class="form-label">Email *</label>
                                            <input id="email" asp-for="User.email" type="email" class="form-control" placeholder="Email" aria-label="Email" required />
                                        </div>
                                        <span asp-validation-for="User.email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div></div>
                                    <h4 class="mb-2 mt-1">Personal Detail</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <label class="form-label">Mobile number *</label>
                                            <input id="contact" asp-for="Admin_PatientPage.phone" type="text" class="form-control" maxlength="10" placeholder="Phone Number..." required />
                                        </div>
                                        <span asp-validation-for="Admin_PatientPage.phone" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-6">
                                        <div>
                                            <label class="form-label">Gender *</label>
                                            <select id="gender" asp-for="Admin_PatientPage.gender" class="form-control" placeholder="Select Gender..." required>
                                                <option value=" ">Select Gender...</option>
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                                <option value="Other">Other</option>

                                            </select>
                                        </div>
                                        <span asp-validation-for="Admin_PatientPage.gender" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-1 mt-1">
                                        <div>
                                            <label class="form-label">Date Of Birth *</label>
                                            <input id="DOB" asp-for="Admin_PatientPage.DateOfBirth" type="date" class="form-control" placeholder="Enter Date Of Birth..." required />
                                        </div>
                                        <span asp-validation-for="Admin_PatientPage.DateOfBirth" class="text-danger"></span>
                                    </div>
                                </div>
                                <div></div>
                                    <h4 class="mb-1 mt-1" >Address detail</h4>
                                <div class="col-md-6">
                                    <div>
                                        <label class="form-label">Address *</label>
                                        <input id="address" asp-for="Admin_PatientPage.address" type="text" class="form-control" placeholder="Enter Address..." required />
                                    </div>
                                    <span asp-validation-for="Admin_PatientPage.address" class="text-danger"></span>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>


                <div class="gap-3 d-md-flex justify-content-md-end text-center">
                    <a type="button" class="btn btn-primary btn-lg" asp-controller="PatientDashBoard" asp-action="PatientDashBoard">Go Back</a>
                    <button type="button" class="btn btn-primary btn-lg" onclick="UpdateProfile()">Update profile</button>
                </div>
            </form>
        </div>
        <div class="col-4" >
            <img src="/images/welcomePage.jpg" style="background-size: cover; background-position: center; height: 100vh;" />
        </div>
    </div>
</div>
<script src="~/js/patient_profile.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}