<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital_Management_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
   @*  use for timepicker *@
    <title>Medi Home</title>
    <link rel="stylesheet" href="~/css/Style.css"/> @* //welcome page and after login page css  *@
    <link rel="stylesheet" href="~/Hospital_Management_System.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="img/fav-icon.svg" type="image/x-icon">
</head>
<body>
    <header>
        <a href="#" class="logo"><i class="fas fa-hospital"></i>Medi Home</a>
        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#contact">Request Appointment</a>
          
            <a asp-controller="PatientProfile" asp-action="PatientProfile">Profile</a>

            <a asp-controller="Login" asp-action="Login" >LogOut</a>

        </nav>
        <div id="menubtn" class="fas fa-bars"></div>
        
    </header>
   
    <div class="container-fluid px-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@*     <script src="~/js/site.js" asp-append-version="true"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.20.0/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    @* above two cdn for timepicker *@
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
