@{

    Layout = "_PatientLayout";
}

<section class="home" id="home">
    <div class="content">
        <h3>stay healthy, be fit</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Ea optio voluptatibus repellat ipsum soluta. Voluptate consectetur repellat repellendus porro enim?</p>
        <a href="#" class="btn">consult now</a>
    </div>
    <div class="image">
        <img src="~/images/img1.png" alt="">
    </div>
</section>

<section class="contact" id="contact">
    <h1 class="heading"><span>contact</span> us</h1>

    <div class="wrapper">
        <div class="image">
            <img src="~/images/img3.png" alt="">
        </div>

        <form action="">
            <h3>book appointment</h3>
            <select id="disease" name="disease" class="box" onchange="FetchDoctors(this.value)">
                <option value="">Select One...</option>
                <option value="Dentist">Dentist</option>
                <option value="Heart Specialist">Heart Specialist</option>
                <option value="Diabetes">Diabetes</option>
                <option value="Oncology(Cancer)">Oncology(Cancer)</option>
                <option value="General Physician">General Physician</option>
                <option value="Orthopedic">Orthopedic</option>
                <option value="Neurology">Neurology</option>
                <option value="Radiology">Radiology</option>
                <option value="Surgery">Surgery</option>
                <option value="Skin Specialist">Skin Specialist</option>
                <option value="Emergency Department">Emergency Department</option>
            </select>

            <select type="text" placeholder="Doctors" class="box">
                <option value="">Select One...</option>
            </select>

            <input id="appointment_time" type="time" name="appointment_time" class="box" />
            <input id="appointment_date" type="date" name="appointment_date" class="box datepicker" />
            <button type="button" onclick="BookAppointment()" class="btn btn-primary text-white">Book Appointment</button>
        </form>
    </div>
</section>




