@{

    Layout = "_PatientLayout";
}
<section class="home" id="home">
    <div class="content">
        <h3>stay healthy, be fit</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Ea optio voluptatibus repellat ipsum soluta. Voluptate consectetur repellat repellendus porro enim?</p>
        <button href="#contact" class="btn">Request an Appointment</button>
    </div>
    <div class="image">
        <img src="~/images/img1.png" alt="">
    </div>
</section>


<section class="contact" id="contact">
    <h1 class="heading"><span>contact</span> us</h1>

    <div class="wrapper">
        <div class="image">
            <img src="~/images/img3.png" alt="">
        </div>

        <form action="">

            <h3>Request appointment</h3>
            <input id="name" type="text" name="name" class="box" />
            <input id="email" type="email" name="email" class="box" />
            <select id="department" name="department" class="box">
                <option value="">Select One...</option>
                <option value="Dentist">Dentist</option>
                <option value="Heart Specialist">Heart Specialist</option>
                <option value="Diabetes">Diabetes</option>
                <option value="Oncology(Cancer)">Oncology(Cancer)</option>
                <option value="General Physician">General Physician</option>
                <option value="Orthopedic">Orthopedic</option>
                <option value="Neurology">Neurology</option>
                <option value="Radiology">Radiology</option>
                <option value="Surgery">Surgery</option>
                <option value="Skin Specialist">Skin Specialist</option>
                <option value="Emergency Department">Emergency Department</option>
            </select>

            <input id="appointment_time" type="time" name="appointment_time" class="box" />
            <input id="appointment_date" type="date" name="appointment_date" class="box datepicker" />
            <textarea class="box" id="message" placeholder="Write a message...." rows="3"></textarea>
            <button type="button" onclick="BookAppointment()" class="btn btn-primary text-white">Request Appointment</button>
        </form>
    </div>
</section>

<script>

    function BookAppointment() {
        var oModel = {
                name: $('#name').val(),
                email: $('#email').val(),
                appointment_date: $('#appointment_date').val(),
                appointment_time: $('#appointment_time').val(),
                department: $('#department').val(),
                description: $('#message').val(),
        }

        debugger;
       
        $.ajax({
            type: "POST",
            url: "/PatientDashBoard/RequestedAppointment",
            contentType: "application/json",
            data: JSON.stringify(oModel),
            dataType: 'json',
            cache: false,
            async: false,
            success: function (data) {
                ClearForm();
                Swal.fire({
                    position: "top",
                    title: "Good job!",
                    text: "Your appointment request has been sent we will contact you soon",
                    icon: "success",
                    button: "Ok",
                });
              
            },
            error: function (error) {
                console.log("Error saving employee:", error);
                Swal.fire("Oops", "An error occurred while saving your request, Please try again later.", "error");
            }
        })
    }

    function ClearForm() {
        $('#name').val('');
        $('#email').val('');
        $('#appointment_date').val('');
        $('#appointment_time').val('');
        $('#department').val('');
        $('#message').val('');
    }
</script>









@* <div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="appointmentModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="appointmentModalLabel">Request for an Appointment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form enctype="multipart/form-data" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input id="name" name="name" class="form-control"></input>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input id="email" type="email" name="email" class="form-control"></input>
                    </div>
                    <div class="mb-3">
                        <label for="department" class="form-label">Department : </label>
                        <select id="department" name="department" class="form-control">
                            <option value="">Select One...</option>
                            <option value="Dentist">Dentist</option>
                            <option value="Heart Specialist">Heart Specialist</option>
                            <option value="Diabetes">Diabetes</option>
                            <option value="Oncology(Cancer)">Oncology(Cancer)</option>
                            <option value="General Physician">General Physician</option>
                            <option value="Orthopedic">Orthopedic</option>
                            <option value="Neurology">Neurology</option>
                            <option value="Radiology">Radiology</option>
                            <option value="Surgery">Surgery</option>
                            <option value="Skin Specialist">Skin Specialist</option>
                            <option value="Emergency Department">Emergency Department</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="appointment_time" class="form-label">Appointment Time : </label>
                        <input id="appointment_time" type="time" name="appointment_time" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label for="appointment_date" class="form-label">Appointment Date :</label>
                        <input id="appointment_date" type="date" name="appointment_date" class="form-control datepicker" />
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Description :</label>
                        <textarea class="form-control" id="message" rows="3"></textarea>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="BookAppointment()" class="btn">Book Appointment</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div> *@
