@{

    Layout = "_PatientLayout";
}
<section class="home" id="home">
    <div class="content">
        <h3>stay healthy, be fit</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Ea optio voluptatibus repellat ipsum soluta. Voluptate consectetur repellat repellendus porro enim?</p>
        <button href="#contact" class="btn">Request an Appointment</button>
    </div>
    <div class="image">
        <img src="~/images/img1.png" alt="">
    </div>
</section>


<section class="contact" id="contact">
    <h1 class="heading"><span>contact</span> us</h1>

    <div class="wrapper">
        <div class="image">
            <img src="~/images/img3.png" alt="">
        </div>

        <form action="">

            <h3>Request appointment</h3>
            <input id="name" type="text" name="name" class="box" placeholder="Enter Name.." />
            <input id="email" type="email" name="email" class="box" placeholder="Enter Email.." />
            <select id="department" name="department" class="box" onchange="FetchDoctors(this.value)">
                <option value="">Select One...</option>
                <option value="Dentist">Dentist</option>
                <option value="Heart Specialist">Heart Specialist</option>
                <option value="Diabetes">Diabetes</option>
                <option value="Oncology(Cancer)">Oncology(Cancer)</option>
                <option value="General Physician">General Physician</option>
                <option value="Orthopedic">Orthopedic</option>
                <option value="Neurology">Neurology</option>
                <option value="Radiology">Radiology</option>
                <option value="Surgery">Surgery</option>
                <option value="Skin Specialist">Skin Specialist</option>
                <option value="Emergency Department">Emergency Department</option>
            </select>
            
            <select id="doctor" name="doctor" class="box">
                <option value="">Loading Available Doctors...</option>
            </select>
            @* <input id="appointment_time" type="time" name="appointment_time" class="box" /> *@
            <select id="appointment_time" name="appointment_time" class="box" size="5" style="max-height: 5em; overflow-y: auto;">
                <option value="">Select Appointment Time</option>
                <!-- Options will be dynamically populated here -->
            </select>

            <input id="appointment_date" type="date" name="appointment_date" class="box datepicker" />
            <textarea class="box" id="message" placeholder="Write a message...." rows="3"></textarea>
            <button type="button" onclick="BookAppointment()" class="btn btn-primary text-white">Request Appointment</button>
        </form>
    </div>
</section>

<script src="~/js/patientdashboard.js"></script>


