@{

    Layout = "_PatientLayout";
}

<section class="home" id="home">
    <div class="content">
        <h3>stay healthy, be fit</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Ea optio voluptatibus repellat ipsum soluta. Voluptate consectetur repellat repellendus porro enim?</p>
        <a href="#" class="btn">consult now</a>
    </div>
    <div class="image">
        <img src="~/images/img1.png" alt="">
    </div>
</section>

<section class="contact" id="contact">
    <h1 class="heading"><span>contact</span> us</h1>

    <div class="wrapper">
        <div class="image">
            <img src="~/images/img3.png" alt="">
        </div>

        <form action="">
            <h3>book appointment</h3>
            <input type="text" placeholder="your name" class="box">
            <input type="email" placeholder="your email" class="box">
            <input type="number" placeholder="your phone number" class="box">
            <input type="date" class="box">
            <input type="submit" value="place appointment" class="btn">
        </form>
    </div>
</section>




