@model IEnumerable<Hospital_Management_System.Models.Admin_DoctorPageModel >

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h2>Doctor's Details</h2>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddDoctorModal">Add Doctor</button>
</div>

@* <div class="card" style="width: 18rem;">
    <img src="~/images/1.jpg" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div> *@

<div class="modal fade" id="AddDoctorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="AddDoctorModallLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddDoctorModallLabel">Add Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="ClearAddDoctorForm()"></button>
            </div>

            <div class="modal-body">

                <form id="AddDoctor" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name : </label>
                                <input id="name" type="text" name="name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email Id : </label>
                                <input id="email" type="email" name="email" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="password" class="form-label">Password : </label>
                                <input id="password" type="password" name="password" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="specialist" class="form-label">Specialization :</label>
                                <select id="specialist" name="specialist" class="form-control">
                                    <option value="">Select one…</option>
                                    <option value="Dentist">Dentist</option>
                                    <option value="Heart Specialist">Heart Specialist</option>
                                    <option value="Diabetes">Diabetes</option>
                                    <option value="Oncology(Cancer)">Oncology(Cancer)</option>
                                    <option value="General Physician">General Physician</option>
                                    <option value="Orthopedic">Orthopedic</option>
                                    <option value="Neurology">Neurology</option>
                                    <option value="Radiology">Radiology</option>
                                    <option value="Surgery">Surgery</option>
                                    <option value="Skin Specialist">Skin Specialist</option>
                                    <option value="Emergency Department">Emergency Department</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="gender" class="form-label">Gender:</label>
                                <select id="gender" name="gender" class="form-control">
                                    <option value="">Please select one…</option>
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="qualification" class="form-label">Qualification :</label>
                                <input id="qualification" type="text" name="qualification" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="DateOfBirth" class="form-label">Date Of Birth : </label>
                                <input id="DateOfBirth" type="date" name="DateOfBirth" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="phone" class="form-label">Phone Number : </label>
                                <input id="phone" type="text" name="phone" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address" class="form-label">Address : </label>
                        <input id="address" type="text" name="address" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label for="imageFile" class="form-label">Photo : </label>
                        <input id="imageFile" name="imageFile" type="file" class="form-control" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="AddDoctor()" class="btn btn-primary">Save</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="UpdateDoctorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="UpdateDoctorModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UpdateDoctorModalLabel">Edit Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="ClearUpdateDoctorForm()"></button>
            </div>

            <div class="modal-body">

                <form enctype="multipart/form-data">

                    <input hidden id="u_id" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name : </label>
                                <input id="u_name" type="text" name="name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email Id : </label>
                                <input id="u_email" type="email" name="email" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="phone" class="form-label">Phone Number : </label>
                                <input id="u_phone" type="text" name="phone" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="specialist" class="form-label">Specialist :</label>
                                @* <input id="u_specialist" type="text" name="specialist" class="form-control" /> *@
                                <select id="u_specialist" name="u_specialist" class="form-control">
                                    <option value="">Select one…</option>
                                    <option value="Dentist">Dentist</option>
                                    <option value="Heart Specialist">Heart Specialist</option>
                                    <option value="Diabetes">Diabetes</option>
                                    <option value="Oncology(Cancer)">Oncology(Cancer)</option>
                                    <option value="General Physician">General Physician</option>
                                    <option value="Orthopedic">Orthopedic</option>
                                    <option value="Neurology">Neurology</option>
                                    <option value="Radiology">Radiology</option>
                                    <option value="Surgery">Surgery</option>
                                    <option value="Skin Specialist">Skin Specialist</option>
                                    <option value="Emergency Department">Emergency Department</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="gender" class="form-label">Gender:</label>
                                <select id="u_gender" name="gender" class="form-control">
                                    <option value="">Please select one…</option>
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="qualification" class="form-label">Qualification :</label>
                                <input id="u_qualification" type="text" name="qualification" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_DateOfBirth" class="form-label">Date Of Birth : </label>
                                <input id="u_DateOfBirth" type="date" name="u_DateOfBirth" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="address" class="form-label">Address : </label>
                                <input id="u_address" type="text" name="address" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="image" class="form-label">Photo : </label>
                                <input id="u_imageFile" name="imageFile" type="file" class="form-control" onchange="previewImage(this)">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3" style="display: flex; flex-direction: column;">
                                <img id="imagePreviewUpdate" src="#" alt="Image Preview" style="max-width: 30%; max-height: 150px; margin-top: 10px; display: none;">
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" onclick="UpdateDoctor()" class="btn btn-primary">Update</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ViewDoctorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ViewDoctorModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ViewDoctorModalLabel">Edit Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="ClearViewDoctorForm()"></button>
            </div>

            <div class="modal-body">

                <form enctype="multipart/form-data">

                    <input hidden id="v_id" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name : </label>
                                <input id="v_name" type="text" name="name" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email Id : </label>
                                <input id="v_email" type="email" name="email" class="form-control" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="phone" class="form-label">Phone Number : </label>
                                <input id="v_phone" type="text" name="phone" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="specialist" class="form-label">Specialist :</label>
                                <input id="v_specialist" type="text" name="specialist" class="form-control" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="gender" class="form-label">Gender:</label>
                                <select id="v_gender" name="gender" class="form-control" readonly>
                                    <option value="">Please select one…</option>
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="qualification" class="form-label">Qualification :</label>
                                <input id="v_qualification" type="text" name="qualification" class="form-control" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="v_DateOfBirth" class="form-label">Date Of Birth : </label>
                                <input id="v_DateOfBirth" type="date" name="v_DateOfBirth" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="address" class="form-label">Address : </label>
                                <input id="v_address" type="text" name="address" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="mb-3"> 
                        <input id="v_imageFile" name="imageFile" type="file" class="form-control" onchange="previewImage(this)" hidden>
                    </div>

                    <div class="mb-3" style="display: flex; flex-direction: column;">
                        <label for="image" class="form-label">Photo : </label>
                        <img id="imagePreviewView" src="#" alt="Image Preview" style="max-width: 30%; max-height: 150px; margin-top: 10px; display: none;">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div id="cardContainer" class="row">
        <!-- Cards will be appended here -->
    </div>
</div>

<script src="~/js/admin_doctor.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}