@model IEnumerable<Hospital_Management_System.Models.Admin_DoctorPageModel >

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h2>Doctor's Details</h2>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddDoctorModal">Add Doctor</button>
</div>

@* <div class="card" style="width: 18rem;">
    <img src="~/images/1.jpg" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div> *@

<div class="modal fade" id="AddDoctorModal" tabindex="-1" aria-labelledby="AddDoctorModallLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddDoctorModallLabel">Add Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name : </label>
                                <input id="name" type="text" name="name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email Id : </label>
                                <input id="email" type="email" name="email" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="password" class="form-label">Password : </label>
                                <input id="password" type="password" name="password" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="specialist" class="form-label">Specialization :</label>
                                <select id="specialist" name="specialist" class="form-control">
                                    <option value="">Select one…</option>
                                    <option value="Dentist">Dentist</option>
                                    <option value="Heart Specialist">Heart Specialist</option>
                                    <option value="Diabetes">Diabetes</option>
                                    <option value="Oncology(Cancer)">Oncology(Cancer)</option>
                                    <option value="General Physician">General Physician</option>
                                    <option value="Orthopedic">Orthopedic</option>
                                    <option value="Neurology">Neurology</option>
                                    <option value="Radiology">Radiology</option>
                                    <option value="Surgery">Surgery</option>
                                    <option value="Skin Specialist">Skin Specialist</option>
                                    <option value="Emergency Department">Emergency Department</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="gender" class="form-label">Gender:</label>
                                <select id="gender" name="gender" class="form-control">
                                    <option value="">Please select one…</option>
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="qualification" class="form-label">Qualification :</label>
                                <input id="qualification" type="text" name="qualification" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="DateOfBirth" class="form-label">Date Of Birth : </label>
                                <input id="DateOfBirth" type="date" name="DateOfBirth" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="phone" class="form-label">Phone Number : </label>
                                <input id="phone" type="text" name="phone" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address" class="form-label">Address : </label>
                        <input id="address" type="text" name="address" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Photo : </label>
                        <input id="imageFile" name="imageFile" type="file" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="AddDoctor()" class="btn btn-primary">Save changes</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="UpdateDoctorModal" tabindex="-1" aria-labelledby="UpdateDoctorModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UpdateDoctorModalLabel">Edit Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form enctype="multipart/form-data">

                    <input hidden id="u_id" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name : </label>
                                <input id="u_name" type="text" name="name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email Id : </label>
                                <input id="u_email" type="email" name="email" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="phone" class="form-label">Phone Number : </label>
                                <input id="u_phone" type="text" name="phone" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="specialist" class="form-label">Specialist :</label>
                                <input id="u_specialist" type="text" name="specialist" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="gender" class="form-label">Gender:</label>
                                <select id="u_gender" name="gender" class="form-control">
                                    <option value="">Please select one…</option>
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="qualification" class="form-label">Qualification :</label>
                                <input id="u_qualification" type="text" name="qualification" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_DateOfBirth" class="form-label">Date Of Birth : </label>
                                <input id="u_DateOfBirth" type="date" name="u_DateOfBirth" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="address" class="form-label">Address : </label>
                                <input id="u_address" type="text" name="address" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Photo : </label>
                        <input id="u_imageFile" name="imageFile" type="file" class="form-control">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="UpdateDoctor()" class="btn btn-primary">Save changes</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ViewDoctorModal" tabindex="-1" aria-labelledby="ViewDoctorModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ViewDoctorModalLabel">Edit Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form enctype="multipart/form-data">

                    <input hidden id="v_id" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name : </label>
                                <input id="v_name" type="text" name="name" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email Id : </label>
                                <input id="v_email" type="email" name="email" class="form-control" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="phone" class="form-label">Phone Number : </label>
                                <input id="v_phone" type="text" name="phone" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="specialist" class="form-label">Specialist :</label>
                                <input id="v_specialist" type="text" name="specialist" class="form-control" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="gender" class="form-label">Gender:</label>
                                <select id="v_gender" name="gender" class="form-control" readonly>
                                    <option value="">Please select one…</option>
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="qualification" class="form-label">Qualification :</label>
                                <input id="v_qualification" type="text" name="qualification" class="form-control" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="v_DateOfBirth" class="form-label">Date Of Birth : </label>
                                <input id="v_DateOfBirth" type="date" name="v_DateOfBirth" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="address" class="form-label">Address : </label>
                                <input id="v_address" type="text" name="address" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Photo : </label>
                        <input id="v_imageFile" name="imageFile" type="file" class="form-control" readonly>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="card w-100 shadow-sm">
    <div class="card-body">
        <table class="table table-striped" id="DrTable" style="width:100% !important">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Specialist</th>
                  @*   <th>Photo</th> *@
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {

        get();
    });


    function get() {
        debugger;
        // Destroy the existing DataTable
        if ($.fn.DataTable.isDataTable('#DrTable')) {
            $('#DrTable').DataTable().destroy();
        }

        $.ajax({

            type: "GET",
            url: "/Admin_DoctorPage/DoctorList",

            success: function (data) {
                $('#DrTable').DataTable({
                    data: data,
                    columns: [
                        { data: 'admin_Doctor.id' },
                        { data: 'User.name' },
                      
                        { data: 'admin_Doctor.phone' },
                        { data: 'admin_Doctor.specialist' },
                        // {
                        //     data: 'admin_Doctor.imagePath',
                        //     render: function (data, type, row) {
                        //         return '<img src="~/images/' + row.admin_Doctor.imagePath + '"class="rounded-image" width="35px" height="35px" />';
                        //     }
                        // },
                        {
                            data: null,
                            render: function (data, type, row) {
                                return ` <button type="button" onclick="popupdatedata(` + row.admin_Doctor.id + `)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#UpdateDoctorModal"><i class="fa-solid fa-pen-to-square"></i></button>|<button type="button" onclick="Viewdata(` + row.admin_Doctor.id + `)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ViewDoctorModal"><i class="fa-solid fa-eye"></i></button>|<button type="button" onclick="DeleteDoctor(` + row.admin_Doctor.id + `)" class="btn btn-primary" ><i class="fa-solid fa-trash-can-arrow-up"></button>`;
                            }
                        }
                    ]
                });
            },
            error: function (textStatus, errorThrown) {
                Success = false;
            }
        });
    }

    function ClearForm() {

        $('#name').val('');
        $('#email').val('');
        $('#password').val('');
        $('#phone').val('');
        $('#address').val('');
        $('#gender').val('');
        $('#specialist').val('');
        $('#qualification').val('');
        $('#DateOfBirth').val('');
        $('#imageFile').val('');

    }

    function AddDoctor() {
        debugger;
        var oModel = {
            User: {
                name: $('#name').val(),
                email: $('#email').val(),
                password: $('#password').val(),
            },
            admin_Doctor: {
                qualification: $('#qualification').val(),
                specialist: $('#specialist').val(),
                gender: $('#gender').val(),
                phone: $('#phone').val(),
                DateOfBirth: $('#DateOfBirth').val(),
                address: $('#address').val(),
                imagePath: $('#imageFile').val(),
            }
        
        }

        debugger;
        console.log(oModel);
        debugger;
        $.ajax({
            type: "POST",
            url: "/Admin_DoctorPage/AddDoctor",
            contentType: "application/json",
            data: JSON.stringify(oModel),
            dataType: 'json',
            cache: false,
            async: false,
            success: function (data) {

                debugger;
                Swal.fire({
                    title: "Good job!",
                    text: "Doctor saved successfully!",
                    icon: "success",
                    button: "Ok",
                });
                ClearForm();
                $('#AddDoctorModal').modal('hide');
                get();
            },
            error: function (error) {
                console.log("Error saving Doctor:", error);
                Swal.fire("Oops", "An error occurred while saving your data, Please try again later.", "error");
            }
        })
    }

    function DeleteDoctor(id) {
        // var ans = confirm("Are you sure you want to delete this Record?");
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    type: "POST",
                    url: "/Admin_DoctorPage/DeleteDoctor/" + id,
                    success: function (data) {

                        swal.fire("Doctor deleted successfully!", {
                            icon: "success",
                        }).then(() => {
                            get(); // Refresh data after deletion
                        });
                    },
                    error: function (errormessage) {
                        Swal.fire({
                            title: "error while delete Doctor",
                            text: "close",
                            icon: "error"
                        });
                    }
                });
            }
        });
    }

    function popupdatedata(id) {
        debugger;

        $.ajax({
            type: "POST",
            url: "/Admin_DoctorPage/GetDoctorByID/" + id,
            success: function (data) {
                $('#u_id').val(data.admin_Doctor.id);
                $('#u_name').val(data.User.name);
                $('#u_email').val(data.User.email);
                $('#u_phone').val(data.admin_Doctor.phone);
                $('#u_specialist').val(data.admin_Doctor.specialist);
                $('#u_gender').val(data.admin_Doctor.gender);
                $('#u_qualification').val(data.admin_Doctor.qualification);
                var date = moment(data.admin_Doctor.DateOfBirth);
                $('#u_DateOfBirth').val(date.format('YYYY-MM-DD'));
                $('#u_address').val(data.admin_Doctor.address);
            }

        });
    }


    function UpdateDoctor() {

        var updatedModel = {
            User: {
                name: $('#u_name').val(),
                email: $('#u_email').val(),
            },
            admin_Doctor: {
                id: $('#u_id').val(),
                phone: $('#u_phone').val(),
                specialist: $('#u_specialist').val(),
                gender: $('#u_gender').val(),
                qualification: $('#u_qualification').val(),
                DateOfBirth: $('#u_DateOfBirth').val(),
                address: $('#u_address').val(),
            }
        };
        debugger;
        $.ajax({
            type: "POST",
            url: "/Admin_DoctorPage/UpdateDoctor",
            data: JSON.stringify(updatedModel),
            contentType: 'application/json',  // Set the content type to application/json
            cache: false,
            success: function (data) {
                $('#UpdateDoctorModal').modal('hide');
                Swal.fire({
                    title: "Good job!",
                    text: "Doctor update successfully!",
                    icon: "success",
                    button: "Ok",
                });
            },
            error: function () {
                Swal.fire({
                    title: "Error while updating!",
                    text: "close",
                    icon: "error"
                });
            }
        });

    }

    function Viewdata(id) {
        debugger;

        $.ajax({
            type: "GET",
            url: "/Admin_DoctorPage/GetDoctorByID/" + id,
            success: function (data) {
                $('#v_id').val(data.admin_Doctor.id);
                $('#v_name').val(data.User.name);
                $('#v_email').val(data.User.email);
                $('#v_phone').val(data.admin_Doctor.phone);
                $('#v_specialist').val(data.admin_Doctor.specialist);
                $('#v_gender').val(data.admin_Doctor.gender);
                $('#v_qualification').val(data.admin_Doctor.qualification);
                var date = moment(data.admin_Doctor.DateOfBirth);
                $('#v_DateOfBirth').val(date.format('YYYY-MM-DD'));
                $('#v_address').val(data.admin_Doctor.address);
            }

        });
    }
</script>