<div class="container">
    <div class="center">
        <h1>Login</h1>
        <form method="POST" action="">
            <div class="txt_field">
                <input type="email" name="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <input name="submit" type="Submit" value="Login">
            <div class="signup_link">
                Have an Account ? <a href="SignUp">Register Here</a>
            </div>
        </form>
    </div>
</div>

           