@*

<h1>Patient</h1> *@
@model IEnumerable<Hospital_Management_System.Models.Admin_PatientPageModel>

<p>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Patient</button>
</p>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="firstname" class="form-label">First Name : </label>
                                <input id="firstname" type="text" name="firstname" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="lastname" class="form-label">Last Name : </label>
                                <input id="lastname" type="text" name="lastname" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email Id : </label>
                                <input id="email" type="email" name="email" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="phone" class="form-label">Phone Number : </label>
                                <input id="phone" type="text" name="phone" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="age" class="form-label">Age : </label>
                                <input id="age" type="number" name="age" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="gender" class="form-label">Gender:</label>
                                <select id="gender" name="gender" class="form-control">
                                    <option value="">Please select one…</option>
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="disease" class="form-label">Disease :</label>
                                <input id="disease" type="text" name="disease" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="address" class="form-label">Address : </label>
                                <input id="address" type="text" name="address" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="AddPatient()" class="btn btn-primary">Save changes</button>
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>


<div class="modal fade" id="updatemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form id="updateform">
                    <input hidden id="update_id" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_firstname" class="form-label">First Name : </label>
                                <input id="u_firstname" type="text" name="firstname" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_lastname" class="form-label">Last Name : </label>
                                <input id="u_lastname" type="text" name="lastname" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_email" class="form-label">Email Id : </label>
                                <input id="u_email" type="email" name="email" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_phone" class="form-label">Phone Number : </label>
                                <input id="u_phone" type="text" name="phone" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_age" class="form-label">Age : </label>
                                <input id="u_age" type="number" name="age" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_gender" class="form-label">Gender:</label>
                                <select id="u_gender" name="gender" class="form-control">
                                    <option value="">Please select one…</option>
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="disease" class="form-label">Disease :</label>
                                <input id="u_disease" type="text" name="disease" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="address" class="form-label">Address : </label>
                                <input id="u_address" type="text" name="address" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="updatePatient()" class="btn btn-primary">Save changes</button>
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>

<table class="table table-striped" id="myTable" style="width:100% !important">
    <thead class="table-dark">
        <tr>
            <th>id</th>
            <th>firstname</th>
            <th>phone</th>
            <th>disease</th>
            <th>address</th>
            <th>Action</th>
        </tr>

    </thead>

</table>

<script>

    $(document).ready(function () {

        get();
    });


    function get() {
        debugger;
        // Destroy the existing DataTable
        if ($.fn.DataTable.isDataTable('#myTable')) {
            $('#myTable').DataTable().destroy();
        }

        $.ajax({

            type: "GET",
            url: "/Admin_PatientPage/PatientList",

            success: function (data) {
                $('#myTable').DataTable({
                    data: data,
                    columns: [
                        { data: 'id' },
                        { data: 'firstname' },
                        { data: 'phone' },
                        { data: 'disease' },
                        { data: 'address' },
                        {
                            data: null,
                            render: function (data, type, row) {
                                return ` <button type="button" onclick="popupdatedata(` + row.id + `)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updatemodal">edit</button>|<button type="button" onclick="viewdata(` + row.id + `)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewmodal">view</button>|<button type="button" onclick="DeletePatient(` + row.id + `)" class="btn btn-primary" >delete</button>`;
                            }
                        }
                    ]
                });
            },
            error: function (textStatus, errorThrown) {
                Success = false;
            }
        });
    }


    // Add patient function
    function AddPatient() {

        var oModel = {
            firstname: $('#firstname').val(),
            lastname: $('#lastname').val(),
            email: $('#email').val(),
            phone: $('#phone').val(),
            age: $('#age').val(),
            // gender: $('#lastname').val(),
            disease: $('#disease').val(),
            address: $('#address').val(),
            gender: $('#gender').val()
        }

        var formData = new FormData();
        formData.append("model", JSON.stringify(oModel));

        $.ajax({
            type: "POST",
            url: "/Admin_PatientPage/AddPatient",
            data: formData,
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {
                $('#exampleModal').modal('hide');
                Swal.fire({
                    title: "Good job!",
                    text: "Employee saved successfully!",
                    icon: "success",
                    button: "Ok",
                });

                get();
            },
            error: function (error) {
                console.log("Error saving employee:", error);
                Swal.fire("Oops", "An error occurred while saving your data, Please try again later.", "error");
            }
        })

    }

    function DeletePatient(id) {
        // var ans = confirm("Are you sure you want to delete this Record?");
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    type: "POST",
                    url: "/Admin_PatientPage/DeletePatient/"+ id,
                    success: function (data) {

                        swal.fire("Employee deleted successfully!", {
                            icon: "success",
                        }).then(() => {
                            get(); // Refresh data after deletion
                        });
                    },
                    error: function (errormessage) {
                        Swal.fire({
                            title: "error while delete employee",
                            text: "close",
                            icon: "error"
                        });
                    }
                });
            }
        });
    }

    function popupdatedata(id) {
        debugger;

        $.ajax({
            type: "POST",
            url: "/Admin_PatientPage/GetPatientByID/" + id,
            success: function (data) {
                $('#update_id').val(data.id),
                $('#u_firstname').val(data.firstname),
                $('#u_lastname').val(data.lastname),
                $('#u_email').val(data.email),
                $('#u_phone').val(data.phone),
                $('#u_age').val(data.age),
                $('#u_disease').val(data.disease),
                $('#u_address').val(data.address),
                $('#u_gender').val(data.gender)
            }

        });
    }


    function updatePatient() {
        debugger;
        var employeeID = {
            id: $('#update_id').val()
        }

        var updatedModel = {
         
            firstname: $('#u_firstname').val(),
            lastname: $('#u_lastname').val(),
            email: $('#u_email').val(),
            phone: $('#u_phone').val(),
            age: $('#u_age').val(),
            disease: $('#u_disease').val(),
            address: $('#u_address').val(),
            age: $('#u_gender').val()
        };

        var formData = new FormData();
        formData.append("Id", employeeID.id);
        formData.append("model", JSON.stringify(updatedModel));

        debugger;

        $.ajax({
            type: "POST",
            url: "/Admin_PatientPage/UpdatePatient",
            data: formData,
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {

                Swal.fire({
                    title: "Good job!",
                    text: "Employee update successfully!",
                    icon: "success",
                    button: "Ok",
                });
            },
            error: function () {
                Swal.fire({
                    title: "Error while updating!",
                    text: "close",
                    icon: "error"
                });
            }
        });
    }

    

</script>