@*

<h1>Patient</h1> *@
@model PatientAllDataViewModel;

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h2>Patient Details</h2>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Patient</button>
    @*  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#registerModal">Register Patient</button> *@
</div>


<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="ClearAddPatientForm()"></button>
            </div>

            <div class="modal-body">

                <form id="AddPatient" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name : </label>
                                <input id="name" type="text" asp-for="User.name" class="form-control" required/>
                            </div>
                            <span asp-validation-for="User.name" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email Id : </label>
                                <input id="email" type="email" asp-for="User.email" class="form-control" required />
                            </div>
                            <span asp-validation-for="User.email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="password" class="form-label">Password : </label>
                                <input id="password" type="password" asp-for="User.password" class="form-control" required />
                            </div>
                            <span asp-validation-for="User.password" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="phone" class="form-label">Phone Number : </label>
                                <input id="phone" type="text" asp-for="Admin_PatientPage.phone" class="form-control" maxlength="10" required />
                            </div>
                            <span asp-validation-for="Admin_PatientPage.phone" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="DOB" class="form-label">Date of Birth :</label>
                                <input id="DOB" type="date" asp-for="Admin_PatientPage.DateOfBirth" class="form-control" required />
                            </div>
                            <span asp-validation-for="Admin_PatientPage.DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="gender" class="form-label">Gender:</label>
                                <select id="gender" asp-for="Admin_PatientPage.gender" class="form-control" required>
                                    <option value="">Please select one…</option>
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            <span asp-validation-for="Admin_PatientPage.gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Address : </label>
                        <input id="address" type="text" asp-for="Admin_PatientPage.address" class="form-control" required/>
                    </div>
                    <span asp-validation-for="Admin_PatientPage.address" class="text-danger"></span>

                    <div class="modal-footer">
                        <button type="button" onclick="AddPatient();" class="btn btn-primary">Save changes</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@* update and populate data  *@
<div class="modal fade" id="updatemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="ClearUpdatePatientForm()"></button>
            </div>

            <div class="modal-body">

                <form id="updateform" enctype="multipart/form-data">

                    <input hidden id="update_id" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_name" class="form-label">Name : </label>
                                <input id="u_name" type="text" asp-for="User.name" class="form-control" required />
                            </div>
                            <span asp-validation-for="User.name" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_email" class="form-label">Email Id : </label>
                                <input id="u_email" type="email" asp-for="User.email" class="form-control" required />
                            </div>
                            <span asp-validation-for="User.email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="DOB" class="form-label">Date of Birth :</label>
                                <input id="u_DOB" type="date" asp-for="Admin_PatientPage.DateOfBirth" class="form-control" required />
                            </div>
                            <span asp-validation-for="Admin_PatientPage.DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_phone" class="form-label">Phone Number : </label>
                                <input id="u_phone" type="text" asp-for="Admin_PatientPage.phone" class="form-control" maxlength="10" required />
                            </div>
                            <span asp-validation-for="Admin_PatientPage.phone" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="gender" class="form-label">Gender:</label>
                                <select id="u_gender" type="text" asp-for="Admin_PatientPage.gender" class="form-control" required>
                                    <option value="">Please select one…</option>
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            <span asp-validation-for="Admin_PatientPage.gender" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="address" class="form-label">Address : </label>
                                <input id="u_address" type="text" asp-for="Admin_PatientPage.address" class="form-control" required/>
                            </div>
                            <span asp-validation-for="Admin_PatientPage.address" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" onclick="updatePatient();" class="btn btn-primary">Update changes</button>
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>

@* view patient details *@
<div class="modal fade" id="ViewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ViewModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ViewModalLabel">Edit Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="ClearViewPatientForm()"></button>
            </div>

            <div class="modal-body">

                <form id="Viewform" enctype="multipart/form-data">
                    <input hidden id="view_id" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="view_name" class="form-label">First Name : </label>
                                <input id="view_name" type="text" name="view_name" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="view_email" class="form-label">Email Id : </label>
                                <input id="view_email" type="email" name="view_email" class="form-control" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="DOB" class="form-label">Date of Birth :</label>
                                <input id="viev_DOB" type="date" name="DOB" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_phone" class="form-label">Phone Number : </label>
                                <input id="view_phone" type="text" name="phone" class="form-control" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_gender" class="form-label">Gender:</label>
                                <select id="view_gender" name="gender" class="form-control" readonly>
                                    <option value="">Please select one…</option>
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="address" class="form-label">Address : </label>
                                <input id="view_address" type="text" name="address" class="form-control" readonly />
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="appointmentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="appointmentModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="appointmentModalLabel">View Appointment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="ClearBookingForm()"></button>
            </div>

            <div class="modal-body">

                <form>
                    <input hidden id="a_id" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="a_name" class="form-label"> Name : </label>
                                <input id="a_name" type="text" name="a_name" class="form-control"  />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="a_email" class="form-label">Email Id : </label>
                                <input id="a_email" type="email" name="a_email" class="form-control"  />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="a_department" class="form-label">Department : </label>
                                <select id="a_department" name="a_department" class="form-control" onchange="FetchDoctors(this.value)">
                                    <option value="">Select One...</option>
                                    <option value="Dentist">Dentist</option>
                                    <option value="Heart Specialist">Heart Specialist</option>
                                    <option value="Diabetes">Diabetes</option>
                                    <option value="Oncology(Cancer)">Oncology(Cancer)</option>
                                    <option value="General Physician">General Physician</option>
                                    <option value="Orthopedic">Orthopedic</option>
                                    <option value="Neurology">Neurology</option>
                                    <option value="Radiology">Radiology</option>
                                    <option value="Surgery">Surgery</option>
                                    <option value="Skin Specialist">Skin Specialist</option>
                                    <option value="Emergency Department">Emergency Department</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="a_doctor" class="form-label">Doctor:</label>
                                <select id="a_doctor" name="a_doctor" class="form-control">
                                    <option value="">Loading Available Doctors...</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="appointment_time" class="form-label">Appointment Time : </label>
                               @*  <input id="a_appointment_time" type="time" name="appointment_time" class="form-control" /> *@
                                @* <div class="select-wrapper form-column form-column-field"> *@
                                <select id="a_appointment_time" name="a_appointment_time" class="form-control" size="5" height="5" onfocus='this.size=10;'
                                        onblur='this.size=1;'
                                        onchange='this.size=1; this.blur();'>
                                    <option  value="">Select Appointment Time...</option>
                                    <!-- Options will be dynamically populated here -->
                                </select>
                                @* </div> *@
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="appointment_date" class="form-label">Appointment Date :</label>
                                <input id="a_appointment_date" type="date" name="appointment_date" class="form-control datepicker" />
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="a_Description" class="form-label">Description :</label>
                        <input id="a_Description" type="text" name="a_Description" class="form-control"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="BookAppointment($)" class="btn btn-primary">Book Appointment</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<div class="card w-100 shadow">
    <div class="card-body">
        <table class="table table-bordered" id="myTable" style="width:100% !important">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>email</th>
                   @*  <th>Phone</th>
                    <th>Address</th> *@
                    <th>Action</th>
                </tr>

            </thead>

        </table>
    </div>
</div>

<script src="~/js/admin_patient.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

