@*

<h1>Patient</h1> *@
@model IEnumerable<Hospital_Management_System.Models.Admin_PatientPageModel>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h2>Patient Details</h2>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Patient</button>
    @*  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#registerModal">Register Patient</button> *@
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name : </label>
                                <input id="name" type="text" name="name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email Id : </label>
                                <input id="email" type="email" name="email" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="password" class="form-label">Password : </label>
                                <input id="password" type="password" name="password" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="phone" class="form-label">Phone Number : </label>
                                <input id="phone" type="text" name="phone" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="DOB" class="form-label">Date of Birth :</label>
                                <input id="DOB" type="date" name="DOB" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="gender" class="form-label">Gender:</label>
                                <select id="gender" name="gender" class="form-control">
                                    <option value="">Please select one…</option>
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="address" class="form-label">Address : </label>
                            <input id="address" type="text" name="address" class="form-control" />
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="AddPatient();" class="btn btn-primary">Save changes</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@* update and populate data  *@
<div class="modal fade" id="updatemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form id="updateform" enctype="multipart/form-data">

                    <input hidden id="update_id" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_name" class="form-label">Name : </label>
                                <input id="u_name" type="text" name="u_name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_email" class="form-label">Email Id : </label>
                                <input id="u_email" type="email" name="email" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="DOB" class="form-label">Date of Birth :</label>
                                <input id="u_DOB" type="date" name="DOB" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_phone" class="form-label">Phone Number : </label>
                                <input id="u_phone" type="text" name="phone" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="gender" class="form-label">Gender:</label>
                                <select id="u_gender" type="text" name="gender" class="form-control">
                                    <option value="">Please select one…</option>
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="address" class="form-label">Address : </label>
                                <input id="u_address" type="text" name="address" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="updatePatient()" class="btn btn-primary">Update changes</button>
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>

@* view patient details *@
<div class="modal fade" id="ViewModal" tabindex="-1" aria-labelledby="ViewModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ViewModalLabel">Add Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form id="Viewform" enctype="multipart/form-data">
                    <input hidden id="view_id" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="view_name" class="form-label">First Name : </label>
                                <input id="view_name" type="text" name="view_name" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="view_email" class="form-label">Email Id : </label>
                                <input id="view_email" type="email" name="view_email" class="form-control" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="DOB" class="form-label">Date of Birth :</label>
                                <input id="viev_DOB" type="date" name="DOB" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_phone" class="form-label">Phone Number : </label>
                                <input id="view_phone" type="text" name="phone" class="form-control" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="u_gender" class="form-label">Gender:</label>
                                <select id="view_gender" name="gender" class="form-control" readonly>
                                    <option value="">Please select one…</option>
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="address" class="form-label">Address : </label>
                                <input id="view_address" type="text" name="address" class="form-control" readonly />
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="appointmentModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="appointmentModalLabel">Add Appointment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="disease" class="form-label">Disease : </label>
                                <select id="a_disease" name="disease" class="form-control" readonly>
                                    <option value="">Please select one…</option>
                                    <option value="Fever">Fever</option>
                                    <option value="Diabetes">Diabetes</option>
                                    <option value="Cancer">Cancer</option>
                                    <option value="Heart Disease, Stroke">Heart Disease, Stroke</option>
                                    <option value="Kidney Disease">Kidney Disease</option>
                                    <option value="Malaria, Dengue Fever">Malaria, Dengue Fever</option>
                                    <option value="Emergency">Emergency</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="doctor" class="form-label">Doctor : </label>
                                <input id="a_doctor" type="text" name="doctor" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="appointment_time" class="form-label">Appointment Time : </label>
                                <input id="a_appointment_time" type="time" name="appointment_time" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="appointment_date" class="form-label">Appointment Date :</label>
                                <input id="a_appointment_date" type="date" name="appointment_date" class="form-control datepicker" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="BookAppointment($)" class="btn btn-primary">Book Appointment</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<div class="card w-100 shadow-sm">
    <div class="card-body">
        <table class="table table-striped" id="myTable" style="width:100% !important">
            <thead class="table-dark">
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>

            </thead>

        </table>
    </div>
</div>
<script>

    $(document).ready(function () {
        get();
    });

    function get() {
        debugger;
        // Destroy the existing DataTable
        if ($.fn.DataTable.isDataTable('#myTable')) {
            $('#myTable').DataTable().destroy();
        }

        $.ajax({
            type: "GET",
            url: "/Admin_PatientPage/PatientList",
            success: function (data) {
                $('#myTable').DataTable({
                    data: data,
                    columns: [
                        { data: 'Admin_PatientPage.id' },
                        { data: 'User.name' },
                        { data: 'User.email' },
                        { data: 'Admin_PatientPage.phone' },
                        { data: 'Admin_PatientPage.address' },
                        {
                            data: null,
                            render: function (data, type, row) {
                                return `<button type="button" onclick="popupdatedata(` + row.Admin_PatientPage.id + `)" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updatemodal"><i class="fa-solid fa-pen-to-square"></i></button>|<button type="button" onclick="ViewModal(` + row.Admin_PatientPage.id + `)" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#ViewModal"><i class="fa-solid fa-eye"></i></button>|<button type="button" onclick="DeletePatient(` + row.Admin_PatientPage.id + `)" class="btn btn-danger" ><i class="fa-solid fa-trash-can-arrow-up"></i></button>|<button type="button" class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#appointmentModal"><i class="fa-solid fa-clipboard-list"></i></button>`;
                            }
                        }
                    ]
                });
            },
            error: function (textStatus, errorThrown) {
                Success = false;
            }
        });
    }

    function BookAppointment() {
        var oModel = {
            doctor: $('#a_doctor').val(),
            disease: $('#a_disease').val(),
            appointment_date: $('#a_appointment_date').val(),
            appointment_time: $('#a_appointment_time').val(),
        }

        debugger;
        var formData = new FormData();
        for (var key in oModel) {
            formData.append(key, oModel[key])
        }
        $.ajax({
            type: "POST",
            url: "/Admin_PatientPage/BookAppointment",
            data: formData,
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {

                Swal.fire({
                    title: "Good job!",
                    text: "Appointment saved successfully!",
                    icon: "success",
                    button: "Ok",
                });
                $('#appointmentModal').modal('hide');
                get();
            },
            error: function (error) {
                console.log("Error saving employee:", error);
                Swal.fire("Oops", "An error occurred while saving your data, Please try again later.", "error");
            }
        })
    }

    function AddPatient() {
        var oModel = {
            User: {
                name: $('#name').val(),
                email: $('#email').val(),
                password: $('#password').val(),
            },
            Admin_PatientPage: {
                phone: $('#phone').val(),
                DateOfBirth: $('#DOB').val(),
                address: $('#address').val(),
                gender: $('#gender').val(),
            }
        }

        $.ajax({
            type: "POST",
            url: "/Admin_PatientPage/AddPatientDetails",
            contentType: "application/json",
            data: JSON.stringify(oModel),
            dataType: 'json',
            cache: false,
            async: false,
            success: function (data) {
                Swal.fire({
                    title: "Good job!",
                    text: "Patient saved successfully!",
                    icon: "success",
                    button: "Ok",
                });
                $('#exampleModal').modal('hide');
                get();
            },
            error: function (error) {
                console.log("Error saving employee:", error);
                Swal.fire("Oops", "An error occurred while saving your data, Please try again later.", "error");
            }
        });
    }

    function DeletePatient(id) {
        // var ans = confirm("Are you sure you want to delete this Record?");
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    type: "POST",
                    url: "/Admin_PatientPage/DeletePatient/" + id,
                    success: function (data) {

                        swal.fire("Patient deleted successfully!", {
                            icon: "success",
                        }).then(() => {
                            get(); // Refresh data after deletion
                        });
                    },
                    error: function (errormessage) {
                        Swal.fire({
                            title: "error while delete employee",
                            text: "close",
                            icon: "error"
                        });
                    }
                });
            }
        });
    }

    function popupdatedata(id) {
        debugger;

        $.ajax({
            type: "POST",
            url: "/Admin_PatientPage/GetPatientByID/" + id,
            success: function (data) {
                $('#u_email').val(data.User.email);
                $('#u_name').val(data.User.name);
                $('#update_id').val(data.Admin_PatientPage.id);
                $('#u_phone').val(data.Admin_PatientPage.phone);
                var date = moment(data.Admin_PatientPage.DateOfBirth);
                $('#u_DOB').val(date.format('YYYY-MM-DD'));
                $('#u_address').val(data.Admin_PatientPage.address);
                $('#u_gender').val(data.Admin_PatientPage.gender);

            }
        });
    }


    function updatePatient() {
        debugger;

        var updatedModel = {

            User: {
                name: $('#u_name').val(),
                email: $('#u_email').val(),
            },
            Admin_PatientPage: {
                id: $('#update_id').val(),
                phone: $('#u_phone').val(),
                DateOfBirth: $('#u_DOB').val(),
                address: $('#u_address').val(),
                gender: $('#u_gender').val()
            }
        };
        console.log(updatedModel);
        debugger;

        $.ajax({
            type: "POST",
            url: "/Admin_PatientPage/UpdatePatient",
            data: JSON.stringify(updatedModel),
            contentType: 'application/json',  // Set the content type to application/json
            cache: false,
            success: function (data) {
                $('#updatemodal').modal('hide');
                Swal.fire({
                    title: "Good job!",
                    text: "Patient update successfully!",
                    icon: "success",
                    button: "Ok",
                });

                // datatable.destroy();
                get();
            },
            error: function () {
                Swal.fire({
                    title: "Error while updating!",
                    text: "close",
                    icon: "error"
                });
            }
        });

    }

    function ViewModal(id) {
        debugger;

        $.ajax({
            type: "POST",
            url: "/Admin_PatientPage/GetPatientByID/" + id,
            success: function (data) {
                $('#view_id').val(data.Admin_PatientPage.id);
                $('#view_email').val(data.User.email);
                $('#view_name').val(data.User.name);
                $('#view_phone').val(data.Admin_PatientPage.phone);
                var date = moment(data.Admin_PatientPage.DateOfBirth);
                $('#viev_DOB').val(date.format('YYYY-MM-DD'));
                $('#view_address').val(data.Admin_PatientPage.address);
                $('#view_gender').val(data.Admin_PatientPage.gender);

            }
        });
    }

    function ClearForm() {

        $('#name').val('');
        $('#email').val('');
        $('#password').val('');
        $('#phone').val('');
        $('#DOB').val('');
        $('#address').val('');
        $('#gender').val('');

    }


</script>