@{
    Layout = "_BlankLayout";
}

@model UserModel;



<div class="outer">
    <div class="container">
        <div class="center">
            <h1>Login</h1>
            <form method="POST" id="login_form">

                <div class="txt_field">
                    <input type="email" class="input-field" id="email" asp-for="email" required>
                    <label>Email</label>
                </div>
                <span asp-validation-for="email" class="text-danger"></span>

                <div class="txt_field">
                    <input type="password" class="input-field" id="password" asp-for="password" required>
                    <label>Password</label>
                </div>
                <span asp-validation-for="password" class="text-danger"></span>

                <button type="button" class="submit_button" onclick="Login()">Login</button>
                <div class="signup_link">
                    Have an Account ? <a asp-controller="Login" asp-action="SignUp">Register Here</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/login.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



