@model UserModel;

@section Styles {
    <link rel="stylesheet" href="/css/SignUpOrLogin.css">
}

<div class="outer">
    <div class="LoginWrapper">
        <div class="container">
            <div class="center">
                <h1>Register</h1>

                <form method="post" id="signup_form">

                    <div class="txt_field">
                        <input type="text" class="input-field" id="name" asp-for="name" required>
                        <label>Name</label>
                    </div>
                    <span asp-validation-for="name" class="text-danger"></span>

                    <div class="txt_field">
                        <input type="email" class="input-field" id="email" asp-for="email" required>
                        <label>Email</label>
                    </div>
                    <span asp-validation-for="email" class="text-danger"></span>

                    <div class="txt_field">
                        <input type="password" class="input-field" id="password" asp-for="password" required>
                        <label>Password</label>
                    </div>
                    <span asp-validation-for="password" class="text-danger"></span>

                    <div class="txt_field">
                        <input type="password" class="input-field" id="confirm_password" asp-for="confirm_password" required>
                        <label>Confirm Password</label>
                    </div>
                    <span asp-validation-for="confirm_password" class="text-danger"></span>

                    <div><button type="button" class="submit_button" onclick="Register()">Sign Up</button></div>

                    <div class="signup_link">
                        Have an Account ? <a asp-controller="Login" asp-action="Login">Login Here</a>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>

    function Register() {
        debugger;
        if ($('#signup_form').valid()) {
            var RegisterData = {
                name: $('#name').val(),
                email: $('#email').val(),
                password: $('#password').val(),
                confirm_password: $('#confirm_password').val(),
            };

            console.log(RegisterData);

            var formData = new FormData();
            formData.append("model", JSON.stringify(RegisterData));
            debugger;

            $.ajax({
                type: "POST",
                url: "/Login/SignUpPost",
                data: formData,
                contentType: false,
                processData: false,
                Cache: false,
                success: function (data) {

                    if (data.status === "success") {
                        alert(data.message);
                        window.location.href = "/Login/Login";
                    }
                    else if (data.status === "warning") {
                        alert(data.message);
                    }


                },
                error: function (error) {
                    console.log("Register Data Error: ", error);
                },
            });
        }
    }

</script>
