@{
    Layout = "_BlankLayout";
}

@model UserModel;

<div class="outer">
    <div class="LoginWrapper">
        <div class="container">
            <div class="center">
                <h1>Register</h1>

                <form method="post" id="signup_form">

                    <div class="txt_field">
                        <input type="text" class="input-field" id="name" asp-for="name" required>
                        <label>Full Name</label>
                    </div>
                    <span asp-validation-for="name" class="text-danger"></span>

                    <div class="txt_field">
                        <input type="email" class="input-field" id="email" asp-for="email" required>
                        <label>Email</label>
                    </div>
                    <span asp-validation-for="email" class="text-danger"></span>

                    <div class="txt_field">
                        <input type="password" class="input-field" id="password" asp-for="password" required>
                        <label>Password</label>
                    </div>
                    <span asp-validation-for="password" class="text-danger"></span>

                    <div class="txt_field">
                        <input type="password" class="input-field" id="confirm_password" asp-for="confirm_password" required>
                        <label>Confirm Password</label>
                    </div>
                    <span asp-validation-for="confirm_password" class="text-danger"></span>

                  @*   <div class="txt_field d-none">
                        @Html.DropDownListFor(model => model.role, new SelectList(new List<object>() { 
                        new { value = 1 , text = "Admin" },
                        new { value = 2 , text = "Patient"  },
                        new { value = 3 , text = "Doctor"  } },"value","text"),
                        "Select Role", new { @class = "input-field w-100 border-0" })
                    </div>
                    <span asp-validation-for="role" class="text-danger"></span> *@


                    <div><button type="button" class="submit_button" onclick="Register()">Sign Up</button></div>

                    <div class="signup_link">
                        Have an Account ? <a asp-controller="Login" asp-action="Login">Login Here</a>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>

<script src="~/js/signup.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

